:root {
  --text: #2B2D42;
  --background: #EDF2F4;
  --darker: #8D99AE;
  --important: #b9151a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #EDF2F4;
    --background: #2B2D42;
    --darker: #8D99AE;
    --important: #ffcad4;
  }
}
