@use "../node_modules/normalize.css/normalize";
@use "fonts";
@use "colors";

body {
  font-family: "Poppins", "sans-serif";
  background-color: var(--background);
  color: var(--text);
}

body > * {
  padding: 5% 20%;
}

h1, h2, h3 {
  font-family: "Faculty Glyphic", "serif";
}

a {
  color: var(--important);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.calm {
    color: var(--text);
    &:hover {
      font-style: italic;
    }
  }
}

.darker {
  background: var(--darker);
  color: var(--deep-dark);
  & a {
    color: var(--dark-important);
    &.calm {
      color: var(--deep-dark);
    }
  }
}
