body {
  font-family: "Raveo Variable", Raveo, "Inter Variable", Inter, sans-serif;

  background: var(--color-dark);
  color: var(--color-light);

  padding: 2rem;
}

body * {
  line-height: var(--line-height);
}

main,
article {
  max-width: var(--width-content);
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: var(--line-height-smaller);

  margin-bottom: 0.5rem;

  & > a {
    line-height: var(--line-height-smaller);
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.66rem;

  margin-top: calc(var(--margin-base) + 1rem);
}

h3 {
  font-size: 1.33rem;

  margin-top: calc(var(--margin-base) + 0.5rem);
}

p {
  margin-bottom: var(--margin-base);
}

a {
  color: var(--color-rose);
  text-decoration: underline;

  &:hover {
    background: var(--color-light-rose);
  }
  &.target {
    @extend :hover;
  }
}

nav > a {
  line-height: var(--line-height-smaller);
}

em,
cite {
  font-style: italic;
}

b {
  background: var(--color-light-rose);
  font-weight: 500;

  padding: 0.05em 0.1em;
}

ul,
ol {
  margin-top: -1rem;
  margin-bottom: var(--margin-base);
  margin-left: 1rem;

  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: roman;
}

li {
  margin-bottom: 0.25rem;
}

.quote {
  font-size: var(--font-size-tiny);
}

blockquote {
  padding: 0.5rem 2rem;
  margin-bottom: 0.25rem;

  color: var(--color-gray);

  border-left: var(--color-rose) solid 0.25em;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  text-align: center;

  margin-bottom: var(--margin-base);

  & a,
  img {
    max-width: 100%;
    display: block;

    &.large {
      --max-width: var(--width-deco);
      --width: min(calc(100vw - 4rem), var(--max-width));
      margin-left: max(calc((100% - var(--max-width)) / 2), calc((100% - var(--width)) / 2));
      width: var(--width);
      max-width: var(--max-width);
      max-height: none;
    }
  }
}

figcaption {
  font-size: var(--font-size-tiny);

  color: var(--color-gray);
}

code,
pre {
  background: var(--color-black);
}

code {
  padding: 0.05em 0.1em;

  font-family: monospace;
  font-size: var(--font-size-tiny);

  color: var(--color-gray);
  border: var(--color-light) 1px solid;
}

pre {
  border: var(--color-light) 2px solid;

  margin: 0 -1rem var(--margin-base) -1rem;
  padding: 0.5rem 1rem;

  & code {
    display: block;
    max-width: 100%;

    padding: 0;

    background: none;
    border: none;

    word-break: break-all;
    white-space: break-spaces;
  }
}
