.introduction {
  margin: var(--margin-header) 0;
}

article article {
  margin-bottom: var(--margin-header);
  &:last-child {
    margin-bottom: 0;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  & nav {
    display: inline-grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: var(--margin-base);

    @media only screen and (max-width: 400px) {
      display: flex;
      flex-direction: column-reverse;
    }

    & > *:nth-child(1) {
      text-align: right;
    }
    & > *:nth-child(2) {
      text-align: center;
    }
    & > *:nth-child(3) {
      text-align: left;
    }

    & p {
      margin-bottom: 0;
    }
  }
}
