@use "../../node_modules/reset-css/reset.css";
@use "general";
@use "special";
@use "home";

:root {
  --color-dark: hsl(202, 25%, 9%);
  --color-light: #dce4e4;
  --color-gray: #bcb3bb; /* quote and legend */
  --color-rose: #f2b5d4; /* link accent */
  --color-light-rose: hsl(330, 55%, 70%, 0.2); /* link accent hover and highlight */
  --color-black: rgba(0, 0, 0, 0.4); /* pre, code */

  @media (prefers-color-scheme: light) {
    --color-dark: #dbf6f6;
    --color-light: hsl(202, 25%, 9%);
    --color-gray: #433b42; /* quote and legend */
    --color-rose: #a01a5e; /* link accent */
    --color-light-rose: hsla(330, 86%, 67%, 0.2); /* link accent hover and highlight */
    --color-black: rgba(0, 0, 0, 0.2); /* pre, code */
  }

  --font-size-tiny: 0.85rem; /* quote, legend, code */
  --line-height: 1.75em;
  --line-height-smaller: 1.4em; /* titles, nav links */

  --width-content: 750px; /* main, article */
  --width-deco: 1000px; /* header, footer, large image */
  --height-header: 8rem; /* header, footer, introduction */

  --margin-base: 1.5rem;
  --margin-header: calc(var(--height-header) / 2);

  font-size: 18px;
}

/* for htmx */

.htmx-indicator {
  opacity: 0;
}
.htmx-request .htmx-indicator {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.htmx-request.htmx-indicator {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
