<!doctype html>
<html lang="{{ .Language }}" prefix="og: https://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
    {{ $styles := asset "styles.css" }}
    <link rel="stylesheet" href="{{ $styles.Src }}" integrity="{{ $styles.Checksum }}" />
    <link rel="shortcut icon" href="{{ static .Logo.Favicon }}" />
    <link rel="alternate" href="/rss" type="application/rss+xml" title="RSS" />
    <meta property="description" content="{{ .PageDescription }}" />
    <!-- Open Graph -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ .Domain }}{{ .URL }}" />
    <meta property="og:image" content="{{ fullStatic .Image }}" />
    <meta property="og:description" content="{{ .PageDescription }}" />
    <meta property="og:local" content="fr_FR" />
    <meta property="og:site_name" content="{{ .Name }}" />
    {{ if ne .PubDate "" }}
    <meta property="article:published_time" content="{{ .PubDate }}" />
    {{ end }}
    <!-- Twitter  -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="{{ .Domain }}" />
    <meta property="twitter:url" content="https://{{ .Domain }}{{ .URL }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .PageDescription }}" />
    <meta name="twitter:image" content="{{ fullStatic .Image }}" />
  </head>
  <body hx-push-url="true">
    <header>
      <img src="{{ static .Logo.Header }}" alt="Logo" />
      <nav>{{ range .Links }}{{ .Render }}{{end}}</nav>
    </header>
    {{ template "body" . }}
    <footer>
      <p>&copy; 2025 - Anhgelus Morthuuzh</p>
      <p id="quote">«&thinsp;{{ .Quote }}&thinsp;»</p>
      <p>
        <a href="/legal">Mentions légales</a>,
        <a href="https://git.anhgelus.world/anhgelus/small-web" target="_blank" rel="noreferrer">code source</a>.
      </p>
    </footer>
    {{ $script := asset "index.js" }}
    <script src="{{ $script.Src }}" integrity="{{ $script.Checksum }}" defer></script>
  </body>
</html>
